## Vamos a transformar el dataset original para poder usarlo mejor en lo que necesitamos

In [25]:
import pandas as pd

In [7]:
data = pd.read_csv("../Dataset/weight-height.csv")
# el peso se encuentra en libras y la altura en pulgadas
# hay que mezclar las filas porque estan primero hombres y luego mujeres

In [9]:
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [10]:
# pasamos la altura de pulgadas a centimetros
data["Height"] = data["Height"] * 2.54 
data.head()

  Gender      Height      Weight
0   Male  187.571423  241.893563
1   Male  174.706036  162.310473
2   Male  188.239668  212.740856
3   Male  182.196685  220.042470
4   Male  177.499761  206.349801

In [11]:
# pasamos el peso de libras a kilogramos
data["Weight"] = data["Weight"] * 0.45
data.head()

  Gender      Height      Weight
0   Male  187.571423  108.852103
1   Male  174.706036   73.039713
2   Male  188.239668   95.733385
3   Male  182.196685   99.019112
4   Male  177.499761   92.857410

In [4]:
# mezclamos las filas
data = data.sample(frac= 1)
data.head()

     Gender     Height      Weight
4068   Male  65.864034  175.562579
4097   Male  66.308373  181.987816
4788   Male  70.688943  186.792363
911    Male  66.854738  161.223965
1903   Male  68.694989  195.115896

In [20]:
# pasamos a centimetros
altura = data["Height"] * 2.54
altura.head()

4068    167.294648
4097    168.423266
4788    179.549916
911     169.811034
1903    174.485273
Name: Height, dtype: float64

In [12]:
dummy = pd.get_dummies(data["Gender"])
dummy.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       0     1

In [13]:
df = pd.concat([data["Height"], data["Weight"], dummy["Male"]], axis= 1)
df.head()

       Height      Weight  Male
0  187.571423  108.852103     1
1  174.706036   73.039713     1
2  188.239668   95.733385     1
3  182.196685   99.019112     1
4  177.499761   92.857410     1

In [16]:
df.rename(columns= {'Height': 'Altura', 'Weight': 'Peso', 'Male': 'Sexo'}, inplace= True)
df.head()

       Altura        Peso  Sexo
0  187.571423  108.852103     1
1  174.706036   73.039713     1
2  188.239668   95.733385     1
3  182.196685   99.019112     1
4  177.499761   92.857410     1

In [19]:
df = df.sample(frac= 1).reset_index(drop= True)
df.head()

       Altura        Peso  Sexo
0  183.807681   87.756227     1
1  186.880711   96.781892     1
2  184.081405  102.937333     1
3  152.812776   42.404549     0
4  170.262159   84.806860     1

In [20]:
df.describe()

             Altura          Peso          Sexo
count  10000.000000  10000.000000  10000.000000
mean     168.573602     72.648161      0.500000
std        9.772721     14.448798      0.500025
min      137.828359     29.115057      0.000000
25%      161.304276     61.118123      0.000000
50%      168.447898     72.545817      0.500000
75%      175.702625     84.226286      1.000000
max      200.656806    121.495364      1.000000

In [24]:
df.to_csv('data_new.csv')